.bg{
    background-color: #2746A5;
    color: white;
    margin: auto;
    
} 
.carousel {
    width: auto;
    height: auto;
    margin: 0 auto;
    
}
.carousel-item img{
    width: auto;
    max-height: 325px;
    margin: auto; 
    display: block;
    
    }
/*div.c-wrapper {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,70,165,1) 35%, rgba(60,146,216,1) 100%);
    width: 100%;
    margin: auto;
}*/
div.banner {
    width: 100%;
    height: 100%;
    
}
.thumbnail {
    width: auto;
    max-width: 100px;
    max-height: 200px;
    margin: auto;
    display: block;
}
div.rankingitem {
    height: 200px;
}
/*calculadora*/

div#calculator {
    margin: auto;
    width: 550px;
    height: 700px;
    border: none;
    background-color: #363636;
    border-radius: 32px;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 10px 10px 15px 3px;
}

#screen {
    font-family: inherit;
    font-size: 60px;
    width: 510px;
    height: 130px;
    margin: 40px 20px;
    border: none;
    border-radius: 24px;
    box-shadow: inset 5px 5px 30px gray;
}

#buttonContainer {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 95px 95px 95px 95px 95px;
    grid-gap: 8px;
    grid-template-rows: 100px 100px 100px 100px;

}

button {
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    background-color: dimgray;
    color: whitesmoke;
    font: inherit;
    font-size: 25px;
    box-shadow: 5px 3px 5px rgb(215, 212, 212);
}

button:hover {
    box-shadow: inset 5px 3px 15px rgb(248, 248, 248);
    background-color: rgb(94, 94, 94);
}

#cleaner {
    font-size: 30px;
}

#equal {
    height: 206px;
    font-size: 60px;
    background-color: rgb(48, 250, 48);
}


.custom-index-hover {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(187, 13, 13, 0.2);
}



@media only screen and (max-width: 767px) {
    #calculator {
        width: 100%;
    }
}



.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    padding: 0.5rem;
    border-radius: 10px;
}